<nav>
    <div class="logo-container">
        <img src="/assets/images/icon.png" alt="Logo NeuroDivergência" class="brain-logo">
        <span class="site-name">NeuroDivergência</span>
    </div>
    
    <ul class="menu">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">Sobre</a></li>
        <li><a href="/autismo.html">Autismo</a></li>
        <li><a href="/algoritmos.html">Algoritmos</a></li>
        <li><a href="/tdah.html">TDAH</a></li>
        <li><a href="/estrategias.html">Estratégias</a></li>
        <li><a href="/dislexia.html">Dislexia</a></li>
    </ul>
</nav>
